<template>
    <div class="admin-con">
        <ui-sidebar class="admin-sidebar" v-ref:sidebar>
            <div class="top-con" slot="top-con">
                <span>
                    <ui-icon icon="cloud"></ui-icon> <b>Kall</b>Fly 
                </span>
            </div>
            <div class="bottom-con" slot="bottom-con">
                <ul class="main-nav">
                    <li v-for="menu in main_nav">
                        <a v-link="{ name: menu.route }" v-el:menu>
                            <ui-icon class="success" :icon="menu.icon"></ui-icon>
                            {{ menu.text }}
                            <ui-ripple-ink :trigger="$els.menu"></ui-ripple-ink>
                        </a>
                    </li>
                </ul>
            </div>
        </ui-sidebar>
        <div class="content-con" v-el:adj-container>
            <ui-toolbar class="admin-toolbar" type="colored" text-color="white" v-ref:admin-toolbar>
                <div slot="actions">
                    <ui-icon-button
                        type="clear" color="white" icon="exit_to_app" v-on:click="logout"
                        tooltip="Logout" tooltip-position="left top"
                    ></ui-icon-button>
                </div>
            </ui-toolbar>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
import auth from '../../js/auth.js'
import UiSidebar from '../common/UiSidebar.vue'

export default {
    data() {
        return {
            auth,
            main_nav: [
                {
                    route: 'admin-dashboard',
                    text: 'Dashboard',
                    icon: 'dashboard'
                },
                {
                    route: 'admin-account',
                    text: 'Account Settings',
                    icon: 'account_circle'
                }
            ]
        }
    },
    methods: {
        logout() {
            auth.logout()
        },
    },
    ready() {

    },
    events: {
        'nav-icon-clicked': function() {
            this.$refs.sidebar.toggle()
        },
        'admin-loading': function() {
            this.$refs.adminToolbar.loading = true
        },
        'admin-stop-loading': function() {
            this.$refs.adminToolbar.loading = false
        }
    },
    route: {
        canActivate: () => {
            return auth.check('admin')
        }
    },
    components: {
        UiSidebar
    }
}

</script>