<template>
    <div class="admin-dashboard">
        <div class="date-range">
            <datepicker v-ref:date-from name="date_from" 
            :value="date_range.from" :format="date_range.format" :disabled="date_range.disabled_from"></datepicker>
            <datepicker v-ref:date-to name="date_to" 
            :value="date_range.to" :format="date_range.format" :disabled="date_range.disabled_to"></datepicker>
            <!-- <ui-icon-button type="flat" icon="refresh"></ui-icon-button> -->
        </div>
    	<dash-main-stats v-ref:dash-main-stats></dash-main-stats>
    	<dash-call-stats></dash-call-stats>
        <dash-realtime-view></dash-realtime-view>
    	<dash-calls-breakdown></dash-calls-breakdown>

        <div class="ui-backdrop ui-active" v-if="main_loading"></div>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import DashMainStats from './partials/DashMainStats.vue'
import DashCallStats from './partials/DashCallStats.vue'
import DashRealtimeView from './partials/DashRealtimeView.vue'
import DashCallsBreakdown from './partials/DashCallsBreakdown.vue'
import vagentLogService from '../../js/vagent_log.js'
import moment from 'moment'

export default {
    data() {
        return {
            date_range: {
                to: null,
                from: null,
                format: "MM/dd/yyyy",
                disabled_to: {
                    from: null,
                },
                disabled_from: {
                    from: null,
                }
            },
            vagent_log: vagentLogService.vagent_log,
            main_loading: false
        }
    },
    created() {
        let _this = this
        let date_from = sessionStorage.getItem('date_from')
        let date_to = sessionStorage.getItem('date_to')

        if(date_from && date_to) {
            let formatted_date_to = new Date(date_to)
            let formatted_date_from = new Date(date_from)
            _this.date_range.to = formatted_date_to
            _this.date_range.from = formatted_date_from

            _this.date_range.disabled_to.from = formatted_date_to
            _this.date_range.disabled_from.from = formatted_date_to
        } else {
            let d_today = new Date()
            _this.date_range.to = d_today
            _this.date_range.from = new Date(d_today.getFullYear(), d_today.getMonth(), 1)
            _this.date_range.disabled_to.from = d_today
            _this.date_range.disabled_from.from = d_today

            _this.setDatesStorage()
        }
    },
    ready() {
        let _this = this
        this.loadData()

        this.$refs.dateFrom.$on('selected', function(timestamp) {
            _this.date_range.from = timestamp

            _this.setDatesStorage()
        })

        this.$refs.dateTo.$on('selected', function(timestamp) {
            _this.date_range.disabled_from.from = timestamp

            if(_this.date_range.from.getTime() > timestamp.getTime()) {
                _this.date_range.from = timestamp
            }

            _this.setDatesStorage()
        }) 
    },
    methods: {
        loadData() {
            this.mainLoading()
            this.$dispatch('admin-loading')
            let date_from = moment(this.date_range.from).format('YYYY-MM-DD')
            let date_to =  moment(this.date_range.to).format('YYYY-MM-DD')

            let cb = (data) => {
                vagentLogService.vagent_log = data.vagent_log
                this.vagent_log = data.vagent_log
                this.$refs.dashMainStats.$emit('loadData', data.vagent_log)
                this.mainStopLoading()
                this.$dispatch('admin-stop-loading')
            };

            vagentLogService.getMainStats(this, date_from, date_to, cb)

        },
        mainLoading() {
            this.$el.classList.add('no-scroll')
            this.main_loading = true
        },
        mainStopLoading() {
            this.$el.classList.remove('no-scroll')
            this.main_loading = false
        },
        setDatesStorage() {
            let date_from = moment(this.date_range.from).format('YYYY-MM-DD')
            let date_to =  moment(this.date_range.to).format('YYYY-MM-DD')

            sessionStorage.setItem('date_from', date_from)
            sessionStorage.setItem('date_to', date_to)
        }
    },
    components: {
        Datepicker,
    	DashMainStats,
    	DashCallStats,
    	DashRealtimeView,
        DashCallsBreakdown
    }
}

</script>