<template>
    <div class="row dash-main-stats">
        <div v-for="stat in main_stats" class="stat-con col-xs-6 col-sm-3">
            <div :class="addBgColor(stat.bg_color)">
                <div class="details">
                    <span class="value">{{stat.value}}</span>
                    <span class="title">{{stat.title}}</span>
                </div>
                <div class="subtitle">
                    <ui-icon :icon="stat.subtitle.icon"></ui-icon>
                    <span>{{stat.subtitle.label}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'dash-main-stats',
    data() {
        return {
            main_stats: [
                {
                    value: '0',
                    title: 'Agents',
                    subtitle: {
                        icon: 'account_circle',
                        label: 'Agents Logged In'
                    },
                    bg_color: 'blue'
                },
                {
                    value: '0 | 0 | 0',
                    title: 'Total | Answered | No Answer',
                    subtitle: {
                        icon: 'insert_chart',
                        label: 'Total Call Statistics'
                    },
                    bg_color: 'teal'
                },
                {
                    value: '0',
                    title: 'Calls',
                    subtitle: {
                        icon: 'insert_chart',
                        label: 'Total Calls'
                    },
                    bg_color: 'aqua'
                },
                {
                    value: '00:00:00',
                    title: 'Talk Time',
                    subtitle: {
                        icon: 'show_chart',
                        label: 'Total Talk Time'
                    },
                    bg_color: 'green'
                }
            ]
        }
    },
    events: {
        'loadData': function(data) {
            total_calls = data.answered_calls + data.no_answer_calls
            this.main_stats[0]['value'] = data.logged_in_agents
            this.main_stats[1]['value'] = `${total_calls} | ${data.answered_calls} | ${data.no_answer_calls}`
            this.main_stats[2]['value'] = total_calls
            this.main_stats[3]['value'] = data.total_talk_time
        }
    },
    methods: {
        addBgColor(bg_color) {
            return `stat-card ${bg_color}`
        }
    },
    ready() {

    }
}
</script>

<style lang="sass">
.dash-main-stats {
    padding-bottom: 20px;
    .stat-con {
        .stat-card {
            position: relative;
            height: 100px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;
            .details {
                padding: 10px;
                .value {
                    font-size: 20px;
                    line-height: 20px;
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .title {
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            .subtitle {
                border-top: 3px solid transparent;
                padding: 5px 10px;
                width: 100%;
                position: absolute;
                bottom: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &.green {
                .subtitle {
                    border-top: 3px solid #4caf50;
                }
            }
            &.blue {
                .subtitle {
                    border-top: 3px solid #0073b7;
                }
            }
            &.aqua {
                .subtitle {
                    border-top: 3px solid #00c0ef;
                }
            }
            &.teal {
                .subtitle {
                    border-top: 3px solid #39cccc;
                }
            }
        }
    }
}
</style>