<template>
    <div class="row dash-call-stats">
        <div class="stat-con col-xs-12 col-sm-6">
            <div class="call-activities stat-card-mid">
                <div class="header">
                    <ui-icon icon="pie_chart"></ui-icon> Call Activites
                </div>
                <div class="content">

                </div>
            </div>
        </div>
        <div class="stat-con col-xs-12 col-sm-6">
            <div class="call-statistics stat-card-mid">
                <div class="header">
                    <ui-icon icon="multiline_chart"></ui-icon> Call Statistics
                    <div class="actions">
                        <ui-icon-button type="flat" icon="refresh"></ui-icon-button>
                    </div>
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'dash-call-stats',
    data() {
        return {
            call_stats: [
            ]
        }
    },
    methods: {

    },
    ready() {

    }
}
</script>

<style lang="sass">
.dash-call-stats {
    padding-bottom: 20px;
    .stat-con {
        .stat-card-mid {
            position: relative;
            height: 400px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;
            border-top: 3px solid transparent;
            &.call-activities {
                border-top: 3px solid #4caf50;
            }
            &.call-statistics {
                border-top: 3px solid #39cccc;
            }

            .header {
                padding: 10px;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                position: relative;
                .actions {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 6px;
                    .ui-icon-button {
                        width: 32px;
                        height: 32px;
                        .ui-icon {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
</style>