<template>
    <div class="row dash-calls-breakdown">
        <div class="stat-con col-xs-12">
            <div class="calls-breakdown stat-card-large">
                <div class="header">
                    <ui-icon icon="track_changes"></ui-icon> Agent Calls Breakdown
                    <div class="actions">
                        <ui-icon-button type="flat" icon="refresh"></ui-icon-button>
                    </div>
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'dash-calls-breakdown',
    data() {
        return {
            call_stats: [
            ]
        }
    },
    methods: {
        
    },
    ready() {

    }
}
</script>

<style lang="sass">
.dash-calls-breakdown {
    padding-bottom: 20px;
    .stat-con {
        .stat-card-large {
            position: relative;
            height: 400px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;
            border-top: 3px solid transparent;
            &.calls-breakdown  {
                border-top: 3px solid #4caf50;
            }

            .header {
                padding: 10px;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                position: relative;
                .actions {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 6px;
                    .ui-icon-button {
                        width: 32px;
                        height: 32px;
                        .ui-icon {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
</style>