<template>
    <div class="kallfly-con">
        <div class="main-content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
import auth from '../js/auth.js'

export default {
    data() {
        return {
            
        }
    }
}

</script>