<template>
    <div class="login">
        <ui-alert @dismissed="error = false" type="error" :show="error">
            {{ error_message }}
        </ui-alert>
        <div class="form-login-con">
            <h3 class="title"><ui-icon icon="lock"></ui-icon> Admin Login </h3>
            <form autocomplete="off" @submit.prevent="login">
                <div class="form-group">
                    <ui-textbox
                        name="username" id="username" type="text" placeholder="Username" :value.sync="username"
                    ></ui-textbox>
                </div>
                <div class="form-group">
                    <ui-textbox
                        name="password" id="password" type="password" placeholder="Password" :value.sync="password"
                    ></ui-textbox>
                </div>
                <ui-button type="normal" color="success">Login</ui-button>
                <ui-button type="normal" @click.prevent="clearForm">Clear</ui-button>
            </form>
        </div>
    </div>
</template>

<script>
import auth from '../js/auth.js'

export default {
    data() {
        return {
            username: null,
            password: null,
            error: false,
            error_message: null
        }
    },
    methods: {
        login() {
            //TODO: authenticate
            auth.login(this, this.username, this.password)
        },
        clearForm() {
            this.username = null
            this.password = null
        }
    },
    ready() {

    }
}

</script>