// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/keen-ui/dist/keen-ui";
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
}

html, body {
    height: 100%;
    font-size: 12px;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 400;
    line-height: 1.33em;
    letter-spacing: .01em;
    color: rgba(0,0,0,.87);
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

.imgResponsive {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    @media only screen and (min-width: 48em) {
        width: 100%;
    }
    @media only screen and (min-width: 64em) {
        width: 100%;
    }
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0;
}

body[modality="keyboard"] {
    .ui-toolbar {
        .ui-icon-button:focus {
            border: none;
        }
    }
}

.row {
    margin: 0;
}

.kallfly-con {
    /*keen-ui*/
    .ui-textbox-input {
        height: 28px;
        &, .ui-textbox-textarea {
            font-size: 14px;
        }
    }
    .ui-button {
        font-size: 13px;
        height: auto;
        line-height: 18px;
    }
    .ui-textbox.active:not(.disabled):not(.invalid) .ui-textbox-label-text,
    .ui-textbox.active:not(.disabled):not(.invalid){
        .ui-textbox-icon, .ui-textbox-textarea {
            color: #4caf50;
        }
    }
    .ui-textbox.active:not(.disabled):not(.invalid) .ui-textbox-input,
    .ui-textbox.active:not(.disabled):not(.invalid) .ui-textbox-textarea {
        border-bottom-color: #4caf50;
    }
    .ui-textbox.active:not(.disabled):not(.invalid) .ui-textbox-label-text,
    .ui-textbox.active:not(.disabled):not(.invalid) .ui-textbox-icon {
      color: #4caf50;
    }
    .ui-textbox.active:not(.disabled):not(.invalid) .ui-textbox-input,
    .ui-textbox.active:not(.disabled):not(.invalid) .ui-textbox-textarea {
      border-bottom-color: #4caf50;
    }
    .ui-toolbar-colored {
        background-color: #4caf50;
    }
    .ui-toolbar {
        .ui-icon-button {
            width: 32px;
            height: 32px;
            .ui-icon {
                font-size: 20px;
            }
        }
        .ui-toolbar-title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &.appLogo {
                img {
                    max-height: 30px;
                }
            }
            @media (max-width: 400px) {
                max-width: 100px;
            }
        }
    }
    .ui-icon-button {
        width: 32px;
        height: 32px;
        .ui-icon {
            font-size: 20px;
        }
    }
    /*keen-ui*/
    .date-range {
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 20px;
        > div {
            margin-right: 8px;
        }
    }
    .vdp-datepicker {
        display: inline-block;
        width: 100px;
        input {
            cursor: auto;
            background: none;
            outline: none;
            border: none;
            padding: 0;
            display: block;
            width: 100%;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgba(0, 0, 0, 0.12);
            transition: border 0.1s ease;
            color: rgba(26, 26, 26, 0.87);
            font-weight: normal;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
        }
    }
    .main-content {
        .login {
            .form-login-con {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                margin: 0 auto;
                display: block;
                padding: 30px;
                max-width: 320px;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
                border-radius: 3px;

                @media (max-width: 500px) {
                    box-shadow: none;
                }

                h3.title {
                    .ui-icon {
                        font-size: 20px;
                        margin-bottom: 3px;
                    }
                    font-size: 20px;
                    margin-top: 0px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
            }
        }
        .admin-con {
            .admin-toolbar {
                z-index: 200;
                max-height: 45px;
                box-shadow: none;
                .ui-toolbar-nav-icon {
                    margin-right: 6px;
                    margin-left: 6px;
                }
                .ui-toolbar-right {
                    padding-right: 10px;
                }
            }
            .admin-sidebar {
                .ui-sidebar-content {
                    width: 230px;
                }
                .top-con {
                    height: 45px;
                    background-color: #4caf50;
                    color: #fff;
                    span {
                        .ui-icon {
                            font-size: 22px;
                            margin-bottom: 5px;
                        }
                        text-align: center;
                        display: block;
                        font-size: 18px;
                        line-height: 45px;
                    }
                }
                .bottom-con {
                    ul.main-nav {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li {
                            a {
                                display: block;
                                position: relative;
                                padding: 10px 30px;
                                border-right: 3px solid transparent;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                .ui-icon {
                                    font-size: 22px;
                                    margin-right: 15px;
                                    margin-top: -2px;
                                }
                                &.v-link-active {
                                    border-right: 3px solid #4caf50;
                                }
                            }
                        }
                    }
                }
            }
            .openedSidebar {
                &.left {
                    padding-left: 230px !important;
                }
                &.right {
                    padding-right: 230px !important;
                }
                @media (max-width:1024px) {
                    &.left {
                        padding-left: 0px !important;
                    }
                    &.right {
                        padding-right: 0px !important;
                    }
                }
            }
            .content-con {
                transition-property: transform;
                will-change: transform;
                min-height: 100%;
                -ms-flex-flow: column nowrap;
                flex-flow: column;
                -ms-flex: 1;
                flex: 1;
                display: flex;
                transition: all .4s cubic-bezier(.25,.8,.25,1);
                
                position: absolute;
                width: 100%;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                min-height: 100%;
                .admin-dashboard {
                    padding: 20px;
                    overflow: auto;
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    > div:last-child {
                        padding-bottom: 0;
                    }
                    &.no-scroll {
                        overflow-y: hidden;
                    }
                }
            }
        }
    }
}