<template>
    <div 
        class="ui-table"
    >
        <ui-alert class="noMargin" :show="!visible && dataloaded" :dismissible="false">{{ noContentText }}</ui-alert>
        <div class="table-responsive" v-if="visible && dataloaded" v-cloak>
            <table>
                <thead>
                    <tr>
                        <th v-for="field in fields" width="{{getFieldWidth(field.width)}}">
                            {{ field.label }}
                        </th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody v-cloak>
                    <tr v-for="item in items">
                        <td v-for="field in fields" width="{{getFieldWidth(field.width)}}">
                            {{ getValue(item, field.name, field.callback) }}
                        </td>
                        <td class="actions" width="20%">
                            <span v-for="action in actions">
                                <ui-icon-button 
                                :icon="getActionIcon(action.icon)" 
                                :color="getActionIconColor(action.icon_color)"
                                type="flat"
                                @click="callAction(action.name, item)"
                                v-link="getRouteLink(action.routelink, item)"
                                ></ui-icon-button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ui-table-pagination" v-if="visible && dataloaded">
            <span class="ui-table-pagination-label">Rows:</span> 
            <div class="ui-select-wrapper">
                <ui-select
                    name="paginate-options" :options="paginateOptions"
                    placeholder="5" :default.sync="perPage"
                ></ui-select>
            </div>
            <span>{{ pagination.info }}</span>
            <div class="buttons">
                <ui-icon-button 
                icon="keyboard_arrow_left" 
                type="flat"
                @click="prevPage"
                :disabled="currentPage == 1"
                ></ui-icon-button>
                <ui-icon-button 
                icon="keyboard_arrow_right" 
                type="flat"
                @click="nextPage"
                :disabled="pagination.disableNextPage"
                ></ui-icon-button>
            </div>
        </div>
        <ui-progress-circular :show="!loading.main" color="primary"></ui-progress-circular>
    </div>
</template>

<script>

export default {
    name: 'ui-table',
    data() {
        return {
            eventPrefix: 'uitable:',
            tablePagination: null,
            currentPage: 1,
            visible: false,
            dataloaded: false,
            loading: {
                main: false
            },
            items: [],
            default: {
                width: 25,
                action: {
                    icon: 'add',
                    icon_color: 'primary'
                }
            },
            pagination: {
                info: '',
                data: {},
                disableNextPage: true
            }
        }
    },
    props: {
        apiUrl: {
            type: String,
            required: true
        },
        dataKey: {
            type: String,
            required: true
        },
        fields: {
            type: Array,
            required: true
        },
        actions: {
            type: Array,
            default: function() {
                return []
            }
        },
        noContentText: {
            type: String,
            required: false,
            default: function() {
                return `There are no data yet.`
            }
        },
        perPage: {
            type: String,
            default: '10'
        },
        queryParams: {
            type: Object,
            default: function() {
                return {
                    sort: 'sort',
                    page: 'page',
                    perPage: 'per_page'
                }
            }
        },
        appendParams: {
            type: Array,
            default: function() {
                return []
            }
        },
        paginateOptions: {
            type: Array,
            default: function() {
                return [ '5', '10', '25' ]
            }
        }
    },
    methods: {
        loadData() {
            var url = this.apiUrl + '?' + this.getQueryParams()

            this.$http.get(
                url
            ).then(response => {
                if(response.status == 200) {
                    this.visible = true
                    this.items = response.body[this.dataKey] 
                    this.pagination.data = response.body.meta.pagination
                } else {
                    this.visible = false
                }

                this.$nextTick(() => {
                    this.dataIsLoaded()
                    this.loadPagination()
                })

            }, response => {
                this.dataIsLoaded()
            })

        },
        getQueryParams() {
            var params = [
                // this.queryParams.sort + '=' + this.getSortParam(),
                this.queryParams.page + '=' + this.currentPage,
                this.queryParams.perPage + '=' + this.perPage
            ].join('&')
            if (this.appendParams.length > 0) {
                params += '&'+this.appendParams.join('&')
            }

            return params
        },
        addParam(param) {
            this.appendParams.push(param)
        },
        dataIsLoaded() {
            this.loading.main = true;
            setTimeout( () => {
                this.dataloaded = true
            }, 500)
        },
        getFieldWidth(width) {
            return typeof width != 'undefined' ? width + '%' : this.default.width + '%'
        },
        getActionIcon(icon) {
            return typeof icon != 'undefined' ? icon : this.default.action.icon
        },
        getActionIconColor(icon_color) {
            return typeof icon_color != 'undefined' ? icon_color : this.default.action.icon_color
        },
        callAction(action, data) {
            this.$dispatch(this.eventPrefix+action, action, data)
        },
        getRouteLink(routelink, item) {
            if(typeof routelink != 'undefined') {
                if(typeof routelink.params != 'undefined') {
                    let routeparams = {}
                    for(let param in routelink.params) {
                        routeparams[param] = item[routelink.params[param]]
                    }
                    return { name: routelink.name, params: routeparams }
                }
                return { name: routelink.name }
            }
            return
        },
        getValue(item, fieldname, callback) {
            var s_exp = fieldname.split('.');
            for(let [key, value] in s_exp) {
                item = item[s_exp[key]];
            }
            if(typeof callback == 'function') {
                item = callback(item)
            }
            return item;
        },
        prevPage() {
            if(this.currentPage != 1) {
                this.currentPage --
                this.loadData()
            }
        },
        nextPage() {
            if(this.pagination.data.total_pages > this.currentPage) {
                this.currentPage ++
                this.loadData()
            }
        },
        loadPagination() {
            let o_paginate = this.pagination.data
            let i_range1 = (o_paginate.current_page-1) * o_paginate.per_page + 1
            let i_range2 = (o_paginate.current_page-1) * o_paginate.per_page + o_paginate.count
            this.pagination.info = `${i_range1}-${i_range2} of ${o_paginate.total}`

            this.pagination.disableNextPage = !(o_paginate.total_pages > o_paginate.current_page)
        }
    },
    events: {
        'uitable:refresh': function() {
            this.currentPage = 1
            this.loadData()
        },
        'selected': function(option) {
            this.perPage = option
            this.loadData()
        }
    },
    created() {
        this.loadData()
    }
}
</script>

<style lang="sass">
.ui-alert.noMargin {
    .ui-alert-body {
        margin-bottom: 0px;
    }
}
.ui-table {
    width: 100%;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
    padding: 20px;
    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        // border: 1px solid #ddd;
    }
    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        font-size: 12px;
        table-layout: fixed;
        min-width: 500px;
        tr {
            th {
                padding: 8px;
                border-bottom: 2px solid #ddd;
                line-height: 1.4em;
                overflow-wrap: break-word;
            }
            td {
                padding: 8px;
                line-height: 1.4em;
                vertical-align: top;
                border-top: 1px solid #ddd;
                overflow-wrap: break-word;
            }
        }
    }
    .ui-progress-circular-toggle-transition {
        margin: 0 auto;
    }
    .actions {
        text-align: center;
        @media (max-width: 763px) {
            span {
                display: block;
            }
        }
        .ui-icon-button {
            width: 32px;
            height: 32px;
            .ui-icon {
                font-size: 20px;
            }
        }
    }
    .ui-table-pagination {
        text-align: right;
        .ui-select-wrapper {
            min-width: 80px;
            max-width: 200px;
            display: inline-block;
            text-align: left;
            .ui-select {
                margin-bottom: 0px;
                .ui-select-display {
                    .ui-select-value {
                        padding: 0px 10px;
                    }
                }
                .ui-select-dropdown {
                    min-width: 80px;
                }
            }
        }
        .buttons {
            display: inline;
            .ui-icon-button {
                display: inline-block;
            }
        }
    }
}
</style>